<nav class="navbar navbar-light">
  <a class="navbar-brand" href="#">
    <img src="/img/logo.png" height="70" alt="mdb logo">
  </a>
  <ul class="mt-2">
     
        <button type="button" class="btn btn-success btn-rounded">Cadastrar</button>
          <button type="button" class="btn btn-success btn-rounded">Pacientes</button>
     
  </ul> 
</nav>