<!-- Section: Blog v.1 -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand page-scroll" href="index.html" style="color:rgb(90, 87, 87);">
		Hospital Abfit</a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		<ul class="nav navbar-nav">
			
			
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
<!-- Intro Header -->
<header class="intro">
<div class="intro-body">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="brand-heading">Cadastre-se</h1>
				<p class="intro-text">
					Um Hospital Fitoterápico com <b>Anos de experiencia</b> e com <b>pessoas extraordinárias</b>!
				</p>
				<a href="#contact" class="btn btn-circle page-scroll">
				<i class="fa fa-angle-double-down animated"></i>
				</a>
			</div>
		</div>
	</div>
</div>
</header>
<!-- Contact Section -->
<section id="contact">
<div class="container content-section">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
            <div id="contactform">
                <!-- Replace the e-mail address -->
                <form action="/cadastros" method="POST">
                    <input type="text" name="nome" placeholder="Seu Nome" required>
					<input type="text" name="email" placeholder="Seu E-mail" required>
					<input type="text" name="cpf" placeholder="Seu cpf" required>
                    <input type="text" name="rg" placeholder="Seu rg" required>
                    <input type="text" name="cidade" placeholder="Sua Cidade" required>
                    <input type="text" name="estado" placeholder="Seu estado" required>
                    <input type="text" name="nascimento" placeholder="nascimento" required>
                   
                    <!-- Replace Aries with the name of your website -->
                    <input type="hidden" name="_subject" value="New message via Aries!" />
                    <input type="text" name="_gotcha" style="display:none" />
                    <!-- Replace http://www.themepush.com/freethemes/aries/ with your website url -->
                    <input type="hidden" name="_next" value="http://www.themepush.com/freethemes/aries/thankyou.html" />
                    <input class="btn" type="submit" value="Cadastrar">
                   <a href="/tabela"> <input class="btn" value="Listar Pacientes"></a>
                </form>
            </div>
		</div>
	</div>
</div>
</section>
<!-- Footer -->
<footer>
<div class="container text-center">
	<p class="credits">
		Copyright &copy; FAQ <br/>
		
	</p>
</div>
</footer>
<!-- jQuery -->
  <!-- Footer -->
<!-- Section: Blog v.1 -->